<div class="wallpaper">
    <div class="logo">
        <a>
          <h3 style="color:white; font-style: italic;">To which email address would you like an email to be sent to?</h3>
        </a>
    </div>
    <form nz-form [formGroup]="validateForm" class="forgot-password-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">Please enter the email you want a recovery email to be sent to!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="default" nzGhost class="forgot-password-form-button" [disabled]="!validateForm.valid">Send</button>
        </nz-form-control>
      </nz-form-item>
    </form>
</div>