.login-form{
    margin-left: 13%;
    margin-bottom: auto;
    margin-right: auto;
    max-width: 287px;
}

.login-form-button {
    width: 100%;
}

.wallpaper {
    background-image: url("https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/92731052_1628687480633692_6957363380432666624_n.jpg?_nc_cat=110&_nc_sid=b96e70&_nc_eui2=AeF2Ef5glm8XeA7OXJVyeCPfOklNW_MESbU6SU1b8wRJtaTS6dqjQGfqlj15lU3kb2O_yXBmurkVmsG5aYKtcFNa&_nc_ohc=i0jAcQXiF5UAX9EEE_j&_nc_ht=scontent.fbeg2-1.fna&oh=3e374aec0d466fd6a1bbd09d588da48e&oe=5EB504A7");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
}

.logo {
    line-height: 64px;
    margin: 77px 113px 0px 219px;
    float: left;
  }