.main-div {
    background-image: url("https://img.wallpapersafari.com/desktop/1280/1024/36/79/3DW0iX.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
}