.profileWrapper{
    width: 380px;
    margin-left: 10%;
    margin-bottom: auto;
    margin-right: auto;
}

.logo h1 {
    margin-top: 10%;
    margin-left: 100px;
}

.pictureWrapper {
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/31/67/NG82fm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0 auto;
    height: 100%;
    width: 100%;
}

.logo {
    line-height: 64px;
    margin: 11px 162px -2px 32px;
    float: left;
  }

