<nz-layout class="layout">
    <nz-header>
      <div class="logo">
        <a target="_blank">
           <h3 style="color: white; font-style: italic;">Welcome admin</h3>
        </a>
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li routerLink="" nz-menu-item style="font-style:oblique;">Certificate requests</li>
        <li nz-menu-item style="font-style:oblique;">Valid certificates</li>
         <li routerLink="" nz-menu-item style="font-style:oblique;">Revoked certificates</li>
        <li nz-menu-item nzMatchRouter>
            <a (click)="clearStorage()" style="font-style:oblique;">Logout</a>
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-sider [nzWidth]="200" >
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height:100%">
          
          
        </ul>

      </nz-sider>

      <nz-content style="min-height: 100%;">
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
