.logo {
    line-height: 64px;
    margin: 0px 112px 4px -25px;
    float: left;
  }

  
.inner-content {
  padding: 24px;
  background-image: url("https://scontent.fbeg2-1.fna.fbcdn.net/v/t1.15752-9/92243399_224871791906483_7179709220256743424_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_eui2=AeENuS8tYnij7n2NHeevkDxwOemsAyn0WuQ56awDKfRa5H-uOCt6bAO6CK0UearqQwk&_nc_ohc=kIgq1Mx5xB8AX-L-BKK&_nc_ht=scontent.fbeg2-1.fna&oh=f9e1e2f843a8025124bbac8da07376c1&oe=5EB53C1C");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.ant-layout {
  height: 122%;
}