.logo {
    line-height: 64px;
    margin: 0px 112px 4px -25px;
    float: left;
  }

  
.inner-content {
  padding: 24px;
  background-image: url("https://wallpapertag.com/wallpaper/full/e/e/6/457523-light-blue-wallpapers-2560x1600-for-tablet.jpg");
  background-repeat: no-repeat;
  /* background-color: #EEF2FF; */
  height: 100%;
  width: 100%;
}

.ant-layout {
  height: 122%;
}